<div>
    <mat-form-field>
        <mat-label>Enter a new todo</mat-label>
        <input [(ngModel)]="todoText" type="text" matInput>
    </mat-form-field>
</div>
<div>
    <mat-form-field >
        <!-- The date field label -->
        <mat-label>Complete todo in the timeframe</mat-label>

        <!-- Form field that shows from date and to date-->
        <mat-date-range-input [rangePicker]="todoWindow">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
        </mat-date-range-input>

        <!-- a button that toggles date range picker -->
        <mat-datepicker-toggle matSuffix [for]="todoWindow"></mat-datepicker-toggle>

        <!-- date range picker allows selecting from and to date -->
        <mat-date-range-picker #todoWindow></mat-date-range-picker>
    </mat-form-field>
</div>
<button matSuffix mat-raised-button color="primary" (click)="createClick()">Create</button>